body{
    font-family: "Lato", sans-serif;
    color : black;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.profile{
    font-size : 6.5rem;
    font-weight: 500;
    margin-top : 0;
    margin-bottom: 0;
}

h2{
    font-size : 1.5rem;
    font-weight: 700;
    margin-top : 0;
    margin-bottom: 0;
}

h3{
    font-size : 1rem;
    font-weight: 700;
    margin-top : 0;
    margin-bottom: 0;
}

ol{
    font-size : 0.8rem;
    margin-top: 0.5rem;
    margin-bottom : 0.2rem;
    padding-left: 0.5rem;
}

li{
    padding-left : 1em;
    font-size : 1em;
}

a{
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width : 100%;
}

.container{
    display : flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* this is header part, I will write my name and navigations */
#header{
    height : 60px;
}

#top{
    padding : 0 0.7em 0 0.7em;
    display : flex;
    align-items: center;
}

#home{
    width : 250px;
    font-size : 1.5rem;
    font-weight : 900;
    text-align: left;
    color :black;
}

nav{
    display:flex;
    justify-content : flex-end;
    align-items : center;

}

.nav_content{
    margin : 0.5em 1.2em 0.5em 1.2em;
    padding-top : 0.5em;
    width : 80px;
    font-size : 1rem;
    font-weight : 700;
    text-align : center;
    color : black;
    vertical-align: middle;
}

#about{
    margin-right : 1em;
}

#nav_button{
    display : none;
}
.nav_menu{
    display : none;
}

#nav_button{
    width : 10vw;
    text-align : center;
    margin-top : 0;
    margin-bottom : 0;
    padding-top : 0;
}


/* this is related to animation in navigation bar*/
@keyframes move {
    from {
        margin-left: 200px;
        width: 300%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

@keyframes moveback {
    from {
        margin-left: 0;
        width: 300%;
    }

    to {
        margin-left: 100px;
        width: 100%;
    }
}
/* this is main part, I will write down some nice quotes*/
#main{
    align-items: flex-start;
    overflow-y: scroll;

}

#main::-webkit-scrollbar-track{
    background-color: #FFF;
}

#main::-webkit-scrollbar
{
    width : 15px;
    background-color: slategray;
}

#main::-webkit-scrollbar-thumb
{

    border-top : 10px solid white;
    border-bottom: 10px solid white;
    border-right : 5px solid white;
    background-color: slategray;
}


/* drop down menu design*/

select{
    margin-top : 0.4rem;
    font-size : 0.9rem;
    border : none;
    cursor: pointer;
    z-index: 2;
}
#style:focus {
    border : none;
}
option{
    font-weight : 400;
    border : none;
}

#category{
    margin-right : 40px;
    width : 70px;
}
#category_sub{
    width : 150px;
    z-index: 2;
}

#main_body{
    width : 100%;
    height : calc(100vh - 80px - 1rem);
    align-content : flex-start;
    justify-content: space-between;
    flex-wrap : wrap;
    padding : 0 0.7rem 0 0.6rem;
}

.sub_body{
    max-width : 900px;
    width : 100%;
    height : calc(100vh - 80px - 1rem);
    background-color: white;
    z-index : 3;
    display:none;
}

.button{
    font-family: fontello;
    font-size : 2.5em;
    display : block;
}

.square{
    max-width : 200px;
    max-height: 200px;
    width : 22vw;
    height : 22vw;
    border : 1px solid lightgray;
    margin-bottom : 30px;
    transition: visibility 0s, opacity 1s linear;
    visibility: visible;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor : pointer;
}

.title{
    position : fixed;
    top : auto;
    display:none;
    z-index:2;
    align-items: center;
    flex-direction: column;
}



.logo{
    width : 55%;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#placeholder{
    height : 0;
    border : none;
}


#foot{
    bottom : 30px;
    height : 20px;
    padding-top : 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content : center;
    font-size: 0.7em;
    color : rgb(180,180,180);
    display : flex;
    text-align : center;
}
