@media screen and (min-width: 900px) {
  body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 750px) {
  nav {
    padding: 6px 0;
    margin-top: 0;
  }

  .square {
    width: 28vw;
    height: 28vw;
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .square {
    width: 42vw;
    height: 42vw;
  }
}

@media screen and (max-width: 570px) {
  .square {
    width: 80vw;
    height: 80vw;
  }
  select {
    display: none;
  }
  #nav_button {
    font-family: fontello;
    font-size: 35px;
    display: block;
    text-align: right;
    padding-right: 9px;
  }

  .nav_menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.98);
    top: 0;
    left: 800px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 5;
  }

  .nav_menu a {
    padding-top: 10px;
    height: 30px;
    border-bottom: 1px solid dimgray;
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .nav_menu a:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: fontello;
    font-size: 24px;
    text-align: right;
  }
}

@media screen and (max-width: 320px) {
  #header {
    height: 40px;
  }
  #home {
    width: 150px;
    font-size: 1.2em;
  }
  #nav_button {
    font-size: 1.6em;
  }
  #quote {
    display: none;
  }
}
