body{
    background-color: dodgerblue;
    font-family: "Lato", sans-serif;
    color : white;
<<<<<<< HEAD
    margin : 20% 0 20% 10%;
=======
    margin : 20% 10% 20% 10%;
>>>>>>> 2115d4c4a9563c9096769c0b801c0e27367e63c0
}

h1{
    font-size : 3em;
    margin-bottom: 0.5em;

}

p{
<<<<<<< HEAD
    font-size : 1.2em;
    margin : 0.5em 0em 0.5em 0em;
}

#link{
    width : 150px;
    border : 2px solid white;
    margin-top :70px;
}

#see{

    font-size : 1em;
    font-weight: 700;
    margin : 10px 10px 10px 10px
}
=======
    font-size : 1em;
    margin : 0.5em 0em 0.5em 0em;
}
>>>>>>> 2115d4c4a9563c9096769c0b801c0e27367e63c0
