body{
    background-color: dodgerblue;
    font-family: "Lato", sans-serif;
    color : white;
    margin : 20% 20% 20% 20%;
}

h1{
    font-size : 3em;
    margin-bottom: 0.5em;

}

p{
    font-size : 1.5em;
    margin : 0.5em 0em 0.5em 0em;
}