.row{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;
}
.whole{
    margin : 0.2rem 0 0.2rem 0;
    align-items : center;
    max-width : 100%;
}

.half{
    margin : 0.2rem 0 0.2rem 0;
    align-items : center;
    display : flex;
    width : 49%;
}