body{
    display:flex;
    flex-direction:column;
    font-family:Lato;
    align-items: center;
}

#control{
    display:flex;
    flex-direction:column;
}

#color:hover{
    background-color: #212121;
    color:white;
    cursor:pointer;
}

#tooltip{
    font-size:13px;
}

#first-row, #second-row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#popType_button{
    margin-right:10px;
}

#second-row{
    margin-top:5px;
}

#main{
    display:flex;
    flex-direction:row;
    position:relative;
    overflow-x:hidden;
}

#bubble{
    width:650px;
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:0;
}

#charts{
    width:350px;
    height:600px;

}

#seoul{
    margin-top:20px;
}


#neighborhood{
    margin-top:50px;
}


/* this is related to animation in navigation bar*/

@keyframes move {
    from {
        right: 0;
    }

    to {
        right: -350px;
    }
}

@keyframes moveback {
    from {
        right:-350px;
    }

    to {
        right:0;
    }
}