body{
    font-family: "Lato", sans-serif;
    color : black;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    font-size : 2.5em;
    font-weight : 700;
    margin : 0.2em;
}


h3{
    font-size : 2.3em;
    font-weight : 700;
}


p{
    font-size : 1.2em;
    font-weight : 400;
    margin : 0.2em;
}


img {
    max-width : 100%;
}

.container{
    display : flex;
    flex-wrap: wrap;
}

/* this is header part, I will write my name and navigations */

#top{
    padding : 1.5vh 2vw 0.5vh 2vw;
    margin-top : 1em;
    margin-bottom: 1.5em;
    justify-content: space-between;
    height : 6vh;
}

#home{
    width : 33vw;
    font-size : 2.5em;
    font-weight : 900;
    text-align: left;
    color :black;
    text-decoration: none;
}


nav{
    width : 50vw;
    display:flex;
    justify-content : flex-end;
    padding-top : 1em;
}

.nav_content{
    width : 10vw;
    font-weight : 700;
    font-size : 1em;
    text-align : center;
    color : black;
    text-decoration: none;
}


/* this is main part, I will write down some nice quotes*/
#main{
    border-top : 1.5px solid black;
    border-bottom : 1.5px solid black;
    justify-content : center;
    align-items: center;
    height : 80vh;
}

#quote{
    width : 80vw;
    font-family: 'Vollkorn', serif;
    font-size: 2.5em;
    text-align: center;
}

#ernest{
    margin-top: 1em;
    font-size: 1em;
}

#foot{
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    align-items: center;
    justify-content : center;
    font-size: 0.6em;
    color : rgb(180,180,180);
    display : flex;
    text-align : center;

}