@media screen and (min-width : 900px){
    body{
        max-width : 900px;
        margin-left : auto;
        margin-right: auto;
    }
}




@media screen and (min-width : 749px){
    #nav_button{
        display : none;
    }
    #nav_menu{
        display : none;
    }
    #main, #each_part{
        height : calc(100vh - 120px);
    }
}

@media screen and (max-width : 750px){
    #home{
        font-size : 1.5em;
    }

    nav {
        padding: 0.5vh 0 0.5vh 0;
        margin-top:0;
    }

    #header{
        height : 50px;
        width : 100%;
        overflow:hidden;
    }

    #project, #idea, #about {
        display : none;
    }

    #nav_button{
        font-family: fontello;
        font-size : 2em;
        display : block;
    }

    .front{
        display:flex;
        flex-direction: row;
        height : 5rem;
        justify-content: space-between;
        align-items: center;
        padding : 2rem 2rem 2rem 2rem;
        width : calc(100vw - 6rem);

        border-top: 1px solid dimgray;
    }

    .explain{
        display:flex;
        flex-direction : column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .go{
        display : flex;
        justify-content: center;
    }

    .go h1{
        vertical-align: middle;
    }

    #main p{
        font-size : 1.5rem;
        font-weight: 500;
    }
    #main h1{
        display : inline;
        font-size : 1.5rem;
        font-weight: 700;
        margin : 0.7rem 0 0.5rem 0;
    }

    #main h3{
        font-family: 'Vollkorn', serif;
        font-size : 1rem;
        font-weight: 400;
        margin : 0 0 1rem 0;
    }

}

@media screen and (max-width : 500px){
    .front{
        height : 3rem;
    }

    .explain h3{
        display : none;
    }

}

