@media screen and (min-width : 900px){
    body{
        max-width : 900px;
        margin-left : auto;
        margin-right: auto;
    }
}



@media screen and (max-width : 900px){
    #quote {
    font-size: 2em;
    }
    #ernest {
        font-size: 0.7em;
    }
}

@media screen and (min-width : 749px){
    #nav_button{
        display : none;
    }
    #nav_menu{
        display : none;
    }
}

@media screen and (max-width : 750px){
    #home{
        font-size : 1.8em;
    }

    nav {
        padding: 0.5vh 0 0.5vh 0;
        margin-top:0;
    }
    #header{
        height : 60px;
        width : 100%;
        overflow:hidden;
    }
    #main{
        height : calc(100vh - 100px);
    }
    #each_part{
        height : calc(100vh - 100px);
  }
    #design, #data, #paper, #about {
        display : none;
    }

    #nav_button{
        font-family: fontello;
        font-size : 2em;
        display : block;
    }
}

@media screen and (max-width : 550px){
    #header{
        height : 50px;
    }
    #home{
        font-size : 1.5em;
    }

    #quote {
        font-size: 27px;
    }
    #ernest {
        font-size: 18px;
    }
}
