@media screen and (min-width : 900px){
    body{
        max-width : 900px;
        margin-left : auto;
        margin-right: auto;
    }
}




@media screen and (min-width : 749px){
    #nav_button{
        display : none;
    }
    #nav_menu{
        display : none;
    }
    #main, #each_part{
        height : calc(100vh - 120px);
    }
    #prj_front{
        position : absolute;
        left : 0;
    }
    #idea_front{
        float:left;
        position : absolute;
        left : 100%;
    }
    #about_front{
        float:left;
        position : absolute;
        left : -100%;
    }
}

@media screen and (max-width : 750px){
    #home{
        font-size : 1.5em;
    }

    nav {
        padding: 0.5vh 0 0.5vh 0;
        margin-top:0;
    }

    #header{
        height : 50px;
        width : 100%;
        overflow:hidden;
    }

    #project, #idea, #about {
        display : none;
    }

    #nav_button{
        font-family: fontello;
        font-size : 2em;
        display : block;
    }

    .front{
        display:flex;
        height : 5rem;
        padding : 2rem 0 2rem 0;
        border-top: 1px solid dimgray;
    }

    .arrow{
        display : none;
    }

    #main h1{
        display : inline;
        font-size : 1.5rem;
        font-weight: 700;
        margin : 0.7rem 0 0.5rem 0;
    }

    #main h3{
        font-family: 'Vollkorn', serif;
        font-size : 1rem;
        font-weight: 400;
        margin : 0 0 1rem 0;
    }

}

@media screen and (max-width : 500px){
    .front{
        height : 3rem;
    }

    .explain h3{
        display : none;
    }

}

@media screen and (max-width : 320px){
    #main{
        border-top : 0px solid black;
    }
    #header{
        height : 40px;
    }
    #home{
        width : 150px;
        font-size : 1.2em;
    }
    #nav_button{
        font-size : 1.6em;
    }
    #quote{
        display : none;
    }

}

