body{
    max-width:100vw;
    min-width: 900px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

header{
    max-width:1280px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    margin-bottom:40px;
    padding-top:20px;
}

main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1{
}

h2{
    margin-top:5px;
    margin-bottom:0;
    font-size:20px;
    display:inline-block;
    width:100%;
}

h3{
    font-weight:bold;
}

h5{
    margin-top:0;
    margin-bottom:0;
    font-size:15px;
    margin-right:20px;
}

p{
    margin-top:10px;
    margin-bottom:3px;
    font-size:14px;
}

select{
    height:20px;
}

header>#download-button{
    background-color: #FFFFFF;
    border : 1px solid #212121;
    height: 30px;
}

header>#download-button:hover{
    background-color: #212121;
    color:#FFFFFF;
}

header>#download-panel{
    position:absolute;
    top: 10px;
    right:10px;
    z-index:2;
    width: 300px;
    display:none;
    background-color:#FFFFFF;
    flex-direction:column;
    height:100vh;
    padding-left:20px;
}

header>#download-panel>div{
    display:flex;
    align-items:center;
    height: 70px;
}

header>#download-panel>#close-panel{
    background-color:#FFFFFF;
    margin-left:270px;
    height:50px;
    font-size:20px;
}


header>#download-panel>#close-panel:hover{
    font-weight:bold;
}

.selectBox {
    position: relative;
    z-index:2;
}

.selectBox select {
    width: 200px;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #212121 solid;
    position:absolute;
    z-index:2;
    background-color: #FFFFFF;
    padding-top:2px;
    padding-bottom:2px;
    height:150px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#checkboxes>label{
    display: block;
    font-size:13px;
}

#checkboxes>label:hover {
    background-color: #1e90ff;
}

#description{
    max-width:1280px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-bottom:10px;
    padding-bottom:0;
}

#description>ul{
    margin-top:8px;
    margin-bottom:6px;
}

#description>ul>li{
    margin-bottom:9px;
    font-size:14px;
}

#linecharts-description{
    margin-top:20px;
    border-top:1px dashed #424242;
    padding-top:10px;
}

#cases-description{
    margin-top:25px;
}

#deaths-description{
    margin-top:15px;
}

#map-select{
    margin-right:50px;
}

#msa-select{
    width:200px;
    margin-right:50px;
}


#dashboard{
    max-width:1280px;
    display:flex;
    width:100%;

}

#linecharts-dashboard{
    padding-top:10px;
    padding-left:10px;
}

.dropdown{
    max-width:1280px;
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin-top:0;
    padding-top: 30px;
    border-top: 1px dashed #424242;
}

.dropdown>h5{
    margin-right:10px;
    text-align:center;
}

#map{
    width:50%;
    border-right:1px solid #969696;
    display:flex;
    justify-content: center;
}

#msa-select-download{
    width:150px;
    margin-right:50px;
}

#download{
    max-width:1280px;
    width:100%;
    display:flex;
    flex-direction:column;
}

#msa-checkbox{
    display:none;
    position:relative;
    top:10px;
    width:200px;
    height:200px;
    background-color:#FFFFFF;
    z-index:2;
}

